style: github
template: CHANGELOG.tpl.md
info:
  title: "CHANGELOG"
  repository_url: https://github.com/SamuelRodriguess/vtex-cicd
options:
  tag_filter_pattern: '^v'
  sort: "date"
  commits:
    filters:
      Type:
        - feat
        - fix
        - docs
        - style
        - refactor
        - perf
        - test
        - chore
    sort_by: Scope
  commit_groups:
    group_by: Type
    sort_by: Title
    title_order:
      - feat
      - fix
      - docs
      - style
      - refactor
      - perf
      - test
      - chore
    title_maps:
      feat: Features
      fix: Bug Fixes
      docs: Documentation
      style: Styles
      refactor: Code Refactoring
      perf: Performance Improvements
      test: Tests
      chore: Chores
notes:
  keywords:
    - BREAKING CHANGE
