name: Tag Release

on:
  push:
    branches:
      - master
      - main

jobs:
  tag-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git user
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      - name: Create annotated Git tag
        id: tag
        run: |
          TAG="v$(date +'%Y.%m.%d.%H%M%S')"
          git tag -a $TAG -m "Release $TAG"
          git push origin $TAG
