name: Changelog

on:
  push:
    branches:
      - main

jobs:
  changelog:
    runs-on: ubuntu-latest
    if: github.event.pusher.name != 'github-actions[bot]'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate release changelog
        uses: janheinrichmerker/action-github-changelog-generator@v2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
